@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}


/** Globales **/

body {
    background-color: var(--fondo);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: var(--fuente-principal);
}

h1, h2, h3{
    color: var(--color-primario); 
    font-family: var(--fuente-principal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

a, li {
    text-decoration: none;
    font-family: var(--fuente-principal);
    color: var(--color-de-apoyo);
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.iconos {
    font-size: 3rem;
}

.boton-darkmode {
    color: white;
}


/* header */


.header {
    width: 100%;

}

.navegacion-principal {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 60%;
    margin-top: 3rem;
    border: solid 0.1rem var(--color-de-apoyo);
    border-radius: 15rem;

}

a {
    font-size: 2rem;
    font-weight: bolder;
    padding: .5rem;

}

.img-perfil {
    width: 10rem;
    border-radius: 50%;
}

.contenedor-section {
    display: flex;
}

.contenedor-perfil {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
}

.parrafo-perfil {
    display: inline;
    border: 1px solid var(--detalles);
    border-radius: 10rem;
    color: var(--color-primario)
    
}